html,body {
    background-image: url("istockphoto-933501774-612x612.jpg");  
}

header {
    background-color:teal;
  
}

header img {
width:40px;

}

header .btn {
    float:right;
    border-radius:5px;
    margin-bottom:30px;
    margin-right: 10px;
    background-color:tan;
    line-height:20px;
    margin:20px;

}
header .navbar {
    overflow:hidden;
    
}
.navbar a {
    float:left;
    font-size: 16px;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;

}

.subnav {
    float:left;
    overflow:hidden;
}
.subnav .subnavbtn {
    font-size: 16px;
    border:none;
    outline:none;
    color:white;
    padding:14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin:0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: red;
}

.subnav-content{
    display:none;
    position:absolute;
    left: 0;
    background-color: red;
    z-index: 1;

}
.subnav-content a {
    float:left;
    color:white;
    text-decoration: none;

}
.subnav-content a :hover{
    background-color: white;
    color:black;

}
.subnav:hover .subnav-content{
    display:block;
}
.container {
    width:100%;

}
.container .content {
    display:grid;
    grid-template-columns: 600px 1fr;
    padding: 30px;
    position: relative;

}
.container .content  h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:burlywood;
    font-size: 30px;
    


}
.container .content p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:chocolate;
    font-size: 18px;
}

.container img {
    width: 400px;
    padding:30px;
    
}

.section-one {
    width:100%;

}

.section-one .section-wrapper {
    display:grid;
    grid-template-columns:400px 1fr;
    padding: 30px;
}

.section-one img{
    width:350px;
    padding-left: 10px;
    margin-left: 10px;
  

}

.section-wrapper h2{
    font-family: sans-serif;
    color:white;


}

.section-one .section-wrapper p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:cornsilk;
    animation-duration: 3s;
    animation-name:slidein;
    animation-iteration-count: infinite;
      
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width:300%
    }

    to {
        margin-left:0%;
        width:100%;
    }
}

.section-two {
    width:100%;
}

.section-two .content-wrapper{
    display:grid;
    grid-template-columns: 700px 1fr;
    padding: 30px;


}

.content-wrapper h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:wheat;
    top:2;
}

.content-wrapper img {
    width:300px;
    padding:30px;
    margin-left: 50px;
}